body {
  background-image: linear-gradient(to right bottom, #051937, #002762, #00358f, #0041bd, #124beb);
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  /* flex */
  /* 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
     */
}
a {
  color: #fff;
}
nav {
  width: 100vw;
  background-color: #D6EFFF;
}
nav ul {
  margin: 0;
  padding: 2vw 0;
  /*this option by default dispose the elements in a row (flex-direction: row)*/
  display: flex;
}
@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }
}
nav ul li {
  list-style-type: none;
  /*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
  margin: 0 2vw;
  /* our font-size will be 3% of the height of the viewport */
  font-size: 3vh;
}
@media (max-width: 500px) {
  nav ul li {
    margin: 0;
  }
}
nav ul li button {
  display: none;
}
@media (max-width: 500px) {
  nav ul li button {
    /*makes the button visible*/
    display: block;
    /*since we are here, we can style it a little bit!*/
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    /*outline none removes the default blue border that appears anytime you click on the button*/
    outline: none;
    cursor: pointer;
    /*this put the button on the left*/
    align-self: flex-start;
  }
}
nav ul li a {
  text-decoration: none;
  /*below I changed the color*/
  color: black;
  /*I added some padding*/
  padding: 2vw;
  /*also changed the font family but that's totally irrelevant*/
  font-family: monospace;
}
@media (max-width: 500px) {
  nav ul li a {
    display: block;
  }
}
nav ul li a:hover {
  background-color: #C6E9FF;
}
